body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}
butoon{
    cursor:pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;
}

/*common*/
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;  
        }
}

@media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
}

/*header*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
.header-menu-list,
.adress {
    display:none;
}
.logo-all {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    position: relative;
}

.header-logo{
    padding: 16px 0;
    display: block;

}

.studio-logo {
    color: #2e2f42;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon{
    display: block;
    fill: #2f2f37;
}


@media screen and (min-width: 768px) {
    .burger-btn{
        display:none;
    }
    .header-menu-list {
        display: flex;
        align-items: center;
        gap: 40px;
        }
    .header-logo{
        padding: 24px 0;
        margin-right: 120px;
    }
    .adress {
            font-style: normal;
            display: block;
            margin-left: auto;
        }
    .navigation {
        display: flex;
        align-items: center;
        }

        .header-menu-item {
            display: block;
            padding: 24px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
    
            transition-property: color, background-color, box-shadow;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
        .header-menu-item-one {
            color: #404BBF;
        }
    
        .header-menu-item.current {
            position: relative;
        }
    
    
        .header-menu-item.current::after {
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
        }
    
    
        .header-menu-item:hover {
            color: #404BBF;
        }
    
        .header-menu-item:focus {
            color: #404BBF;
        }
        .list {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

   .logo-address {
       font-style: normal;
       font-weight: 400;
       font-size: 12px;
       line-height: 1.17;
       letter-spacing: 0.04em;
       color: #434455;
       display: block;
       transition-property: color, background-color, box-shadow;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
   }
    .logo-address:hover {
    color: #404BBF;
    }

    .logo-address:focus {
    color: #404BBF;

    }

}

@media screen and (min-width: 1158px) {
    .header-logo {
            margin-right: 76px;
        }
    .list {
               flex-direction: row;
               align-items: center;
               gap: 40px;
        }

        .logo-address {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            padding: 24px 0;
            
    }
}

.section-one {
    background: #2e2f42;
    height: 432px;
    padding: 72px 0;
    max-width: 1440px;
    margin: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (min-width: 768px){
    .section-one {
        height: 436px;
        padding: 112px 0;
    }
}

@media screen and (min-width: 1158px){
    .section-one{
        height: 600px;
        padding: 188px 0;
}
    }
 
.section-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: auto;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .section-name{
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media screen and (min-width: 1158px) {
    .section-name {
            margin-bottom: 48px;
        }
}
.button-style {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    margin: auto;
    display: block;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition-property: color, background-color, box-shadow;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-style:hover {
    background: #404bbf;

}

.button-style:focus {
    background: #404bbf;
}

/*section-two*/
.section-two{
    padding: 96px 0;
}

.icon-border{
    display: none;
}
.advantages-positions-tru {
    display: flex;
    display: inline;
    }
.advantages-positions{
    margin-bottom: 72px;
}

.advantages-positions-names {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.advantages-positions-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width: 768px) {
    .section-two {
            padding: 96px 0;
        }
  .advantages-positions-tru {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;                   
        }
            
        .advantages-positions {
           
            flex-basis: calc((100% - 24px) / 2);
            }

    
        
    }
@media screen and (min-width: 1158px){
    .section-two {
            padding: 120px 0;
        }
    
        .icon-border {
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f4f4fd;
        }
    
        .icon-section-two {}
    
    
    
        .advantages-positions-tru {
            display: flex;
            gap: 24px;
        }
    
        .advantages-positions {
            background: #fff;
            flex: calc((100% - 72px)/4);
    
        }
        .advantages-positions-names {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 8px;
        }
    
        .advantages-positions-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }
}
        
/*sectiom-team*/
.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-groupe {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin: auto;
    margin-bottom: 72px;
}

.team-poziom {
       justify-content: center;

}

.team-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    margin-bottom: 72px;
    max-width: 264px;
}
.team-foto {
    margin: auto;
    background: #fff;
}
.team-names-persone {
    padding: 32px 16px;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}
.type-icon {
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background;
    background-color: #4d5ae5;
    border-radius: 50%;
    padding: center;
    transition-property: color, background-color, box-shadow;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.type-icon:hover,
.type-icon:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px){
    .team-poziom {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 24px;
            
    
        }
        .team-list {
            flex-basis: calc((100% - 24px) / 2);
            max-width: 264px;
            height: 428px;
        }

}
@media screen and (min-width: 1158px){
    .team {
            padding: 120px 0;
        }
        .team-poziom {
            display: flex;
            gap: 24px;
            padding-left: 0;
            margin: 0;
    
        }
    
        .team-list {
            
            flex: calc((100% - 72px)/4);
            
        }
}
/*portfolio-groupe*/
.portfolio-groupe {
    background: #fff;
    padding: 96px 0 96px 0;
}
.portfolio-groupe-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;

}

.portfolio-poziom {
    
}

.border-foto {
    margin-bottom: 48px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.border-foto:hover .portfolio-text-image {
    transform: translateY(0);
}

.border-foto-picture-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-text-image {
    position: absolute;
    top: 0;
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-poziom-one {
    border: 1px solid #e7e9fc;
    background-color: #ffffff;
    padding: 32px 16px;
    border-top: none;
}
.portfolio-servises-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.portfolio-servises-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width: 768px){
    .portfolio-poziom {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;

    }
        .border-foto {
            flex: calc((100% - 24px)/2);
           
        }

}
@media screen and (min-width: 1158px){
    .border-foto {
            flex: calc((100% - 48px)/3);
            
        }
}